{% extends 'base.html' %}

{% block content %}
    <div class="col-lg-8 col-lg-offset-2">
        <div class="content-container">
            <h3><p>"Multinational banking corporation that made billions out of bankrupting the American people, went bankrupt themselves, then got the American people to bail them out. Classy."</p>
                <p class="text-right">― Description at LCN.com.</p>
                <p class="text-left">The Bank of Liberty is a bank chain located in Liberty City. Our bank owns Lombank and Schlongberg Sachs as their ATMs use a Bank of Liberty interface.</p></h3>
        </div>
    </div>
{% endblock %}
